<div class="homeParent">
    <div class="homeCard">
      <!-- NAVBAR -->
        <mat-toolbar class="navbar" color="primary">
            Welcome, {{ this.user.name }}!
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item (click)="openDialog()">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
              </button>
            </mat-menu>
        </mat-toolbar>

        <!-- CARD -->
        <mat-drawer-container class="sideNavContainer">
          <!-- SIDENAV -->
          <mat-drawer mode="side" style="width:25%" opened>
            <mat-accordion  multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      
                      <mat-panel-title>
                          <mat-icon>home</mat-icon>
                          Dashboards
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <button mat-button (click)="updateHomeSwitch(0)">
                        Home
                    </button>
                  </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                        Employment
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <button mat-button (click)="updateHomeSwitch(1)">
                    Information Change
                  </button>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>payment</mat-icon>
                        Banking
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <button mat-button (click)="updateHomeSwitch(2)">
                    Bank Accounts
                  </button>
                </mat-expansion-panel>
            </mat-accordion>
          </mat-drawer>

          <!-- PAGE CONTENT -->
          <mat-drawer-content [ngSwitch]="homeSwitch">

            <!-- PAGE CONTENT -->
            <div *ngSwitchCase="0" class="homeSection">
              <mat-card class="homeSectionCard">
                <div class="homeSectionCardHeaders">
                  <div class="homeSectionCardTitle">
                    <h4>
                      Next Payday
                    </h4>
                  </div>
                  <mat-icon>
                    more_vert
                  </mat-icon>
                </div>
                <div class="homeSectionCardHeaders">
                  <h1>09/15/2022</h1>
                </div>
              </mat-card>
              <mat-card class="homeSectionCard">
                <div class="homeSectionCardHeaders">
                  <div class="homeSectionCardTitle">
                    <h4>
                      Days until work aniversary
                    </h4>
                  </div>
                  <mat-icon>
                    more_vert
                  </mat-icon>
                </div>
                <div class="homeSectionCardHeaders">
                  <h1>115</h1>
                </div>
              </mat-card>
            </div>

            <!-- Information Change -->
            <div *ngSwitchCase="1">
              <mat-stepper [linear]="isLinear" #stepper >
                <mat-step [stepControl]="informationChange">
                  <form [formGroup]="informationChange">
                    <ng-template matStepLabel>Change</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="firstName" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="informationChange" label="Review">
                  <form [formGroup]="informationChange">
                    <mat-form-field appearance="fill">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="firstName" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Submit</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
            </mat-stepper>
            </div>

            <div *ngSwitchCase="2">
              Set up paycheck deposit!
            </div>
            
          </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>