.homeParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(220, 239, 255);
    height: 100%
}

.homeCard {
    background-color: white;
    border-radius: 10px;
    height: 90%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    border-radius: 10px;
}

.sideNavContainer {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.homeSection {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.homeSectionCard {
    margin: 10px;
}

.homeSectionCardHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeSectionCardTitle {
    margin-right: 20px;
}

@media (max-width: 800px) {
    .navbar {
        width: 100% !important;
    }
}