.loginParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(220, 239, 255);
    height: 100%
  }
  
  .loginCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    max-width: 200px;
  }
  
  .loginInput {
    width: 100%;
  }
  
  .seperator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(194, 194, 194)
  }
  
  .loginHr {
    width: 75px;
    border: none;
    height: 2px;
    background-color: rgb(194, 194, 194);
  }
  
  .errorMessage {
    color: red;
  }