<div class="loginParent">
  <mat-card class="loginCard">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <h2>
          Welcome!
        </h2>
      </div>
      <div class="loginInput">
        <mat-form-field class="loginInput" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
      </div>
      <div class="loginInput">
        <mat-form-field class="loginInput" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="loginInput">
        <button mat-raised-button color="primary" type='submit' class="loginInput">Login</button>
      </div>
    </form>
  </mat-card>
</div>